langchain
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-ollama
langchain-core
streamlit
langchain-tavily
langchain-community
langchain-text-splitters
langgraph
pypdf
faiss-cpu
requests
pyyaml
sentence-transformers
torchvision